.footer img { 
    height: 20px;
    width: auto;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-top: auto;
}

.footer p {
    margin: 0;
}