@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: silver;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background-color: #e5e5f7;
}

.header {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 0, 0);
    margin: 0;
    width: fit-content;
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
}